<body class="post-page">
  <div class="container text-center">

    <%- include('../../partials/navigation') %>

    <div class="row">
      <div class="col-sm-12">
        <%- postHtml %>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/app.js"></script>
</body>